{% extends 'Layout/_layout.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data Upload</title>
    
</head>
<body>
    {% block content %}
    <form method="POST" action="{{url_for('dataUpload.dataUpload')}}" >
        <div>
            <label for="name">University Name</label>
            <input type="text" id='name' name='name' placeholder="Enter university name">
        </div>
     <div>
        <label for="address">Address</label>
        <input type="text" id='address' name='address' placeholder="Enter university name">
     </div>
        
     <div>
        <label for="state">State</label>
        <select name="state" id="state">
            {% for j in state %}
            <option >{{j}}</option>
            {% endfor %}
            
        </select>
     </div>
        
     <div>
        <label for="Utype">University Type</label>
        <select name="Utype" id="Utype">
            {% for i in Utype %}
            <option>{{i}}</option>
            {% endfor %}
            <option>Institute of national importance</option>
        </select>
     </div>
     <button type="submit" class="btn btn-primary">Login</button>
        
    </form>
    {% if msg %}
    {{msg}}
    {% endif %}
    {% endblock %}
</body>
</html>

